@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Hand:wght@400..700&family=Quicksand:wght@300..700&display=swap');

h1 {
    font-family: "Edu VIC WA NT Hand", cursive;
    font-weight: 700;
    font-optical-sizing: auto;
    font-size: 1.80em;
}

h2 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 1.20em;
}

body {
    overflow-x: hidden; /* evita el desplazamiento horizontal en el body */
    margin: 0; padding: 0;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
}

/* Asegurar que los contenedores no excedan el ancho del viewport */
#contenedor, .subcontenedor {
    max-width: 100%;
    overflow-x: hidden;
}

/* para que la tabla se vea bien en mobile y no se desborde, sino que se desplace */
#tabla .overflow-x-auto {
    overflow-x: auto;
    max-width: 100%;
}

#tabla table {
    width: 100%;
    min-width: 500px; 
}

.bg-verde-oscuro {
    background-color: rgba(28, 96, 101, 1);
    color:  rgba(211, 220, 161, 1);
}



#home table, #home #progreso{
    border: solid;
    border-radius: 10px;
    border-color: rgba(28, 96, 101, 1);
}

#home table th, table td {
    border: 1px;
    border-radius: 4px;
    border-color: rgba(28, 96, 101, 1);
    padding: 6px;
}


#agregar legend {
    font-weight: 600;
    font-size: 1.10em;
}

#fondo-login {
    background-image: url('../img/fondo-login.svg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

