@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "darkgreen";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: #124A4E; /* verde  oscuro */
   --color-base-200: #052628;  /* verde muy oscuro */
  --color-base-300: #455D5E; /* verde gris */
  --color-base-content: #D2D8B4; /* verde claro */
  --color-primary: #B5BE83;
  --color-primary-content: #052628;
  --color-secondary: #124A4E;
  --color-secondary-content: #455D5E;
  --color-accent: #C49E59;
  --color-accent-content: #052628;
  --color-neutral: oklch(20% 0 0);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: #455D5E;
  --color-info-content: #B5BE83;
  --color-success: #B5BE83;
  --color-success-content: #052628;
  --color-warning: #A75F17;
  --color-warning-content: oklch(98% 0 0);
  --color-error: #A74538;
  --color-error-content: oklch(98% 0 0);
  --radius-selector: 0.5rem;
  --radius-field: 2rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 0;
}


@plugin "daisyui/theme" {
  name: "lightgreen";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #1c6065;  /* verde  oscuro */
  --color-base-content: #C7CF98; /*verde claro-letra*/
  --color-base-200: #d3dca1; /* verde claro */
  --color-base-300: #DBDECB;  /* beige */
  --color-base-content: #C7CF98;  /*verde claro-letra*/
  --color-primary: #d3dca1;
  --color-primary-content: #1c6065;
  --color-secondary: #1c6065;
  --color-secondary-content: #d3dca1;
  --color-accent: #d8b16b;
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: #6D7D7E;
  --color-neutral-content: #052628;
  --color-info: #FCF9E7;
  --color-info-content: #1c6065;
  --color-success: #1c6065;
  --color-success-content: #d3dca1;
  --color-warning: oklch(26% 0.079 36.259);
  --color-warning-content: oklch(83% 0.128 66.29);
  --color-error: oklch(25% 0.092 26.042);
  --color-error-content: oklch(88% 0.062 18.334);
  --radius-selector: 0.5rem;
  --radius-field: 2rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}



@tailwind base;
@tailwind components;
@tailwind utilities;
